# Virtual environment
.venv/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment variables
.env

# macOS
.DS_Store

# Logs
*.log

# Data outputs
data/processed/
data/interim/
data/warehouse/

# Python build
build/
dist/
*.egg-info/